<%= form_tag '/dbaf78qierwy8bqyh3nnd8andfh' do %>
  <div>
    <%= text_field_tag :keyword %>
  </div>
  <div>
    <%= submit_tag 'Activate', :class => 'btn btn-primary btn-large' %>
  </div>
<% end %>